<head>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="CSS/todo.css" />
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="JS/todo.js"></script>
</head>

<body>

	<div class="container-fluid">
		<div class="navigation">
			<h1><span style="color:#5A5666">Too doo...</span></h1>
		</div>
		<div class="row">
			<div class="col">
				<% for (i = 0; i < data.length; i++){ %>
					<div class="flex-box">
						<div id='<%= data[i].id%>'>
							<h3>
								<%= data[i].title %>
							</h3>
<!--
<p>
	<%= data[i].description %>
</p>
-->
							<div class="menu">
								<img src="pencil.png" class="png-buttons" />
                <form method="post" action="/delete/<%= data[i].id%>">
                  <button type="submit">
                    <img src="trash_can.png" class="png-buttons" />
                  </button>
                </form>
							</div>
						</div>
					</div>
					<% } %>
			</div>

		</div>

		<form class="input-area" action="/add" method="post">
			<input class="description-input" id="exampleTextarea" id="description" placeholder="what to do..." type="text" name="task" />
			<input class="btn-lg" style="align-content:center" type="submit" value="submit" />
		</form>
	</div>
</body>
