<head>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="public/CSS/todo.css" />
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="public/JS/todo.js"></script>
</head>

  <body>

  <div class="container-fluid">
    <div class="navigation">
      <h1><span style="color:#5A5666">Too doo...</span></h1>
    </div>
  <div class="row">
  <div class="col">
    <h2>Monday</h2>
      <div class="flex-box">
        <input type="checkbox" class="check" value=""></input>
        <div class="description">
          stuff
        </div>
      </div>
    </div>
    <div class="col">
      <h2>Tuesday</h2>
    </div>
    <div class="col">
      <h2>Wednesday</h2>
    </div>
    <div class="col">
      <h2>Thursday</h2>
    </div>
    <div class="col">
        <h2>Friday</h2>
    </div>
  </div>
  <div class="input-area">
    <textarea class="description-input" id="exampleTextarea" rows="3" id="description" placeholder="what to do..."></textarea>
    <button class="btn-lg" style: "align-content:center">add</button>
  </div>
</div>
</body>
