body {
	background-image: #FFF9EE;
}

.navigation {
	height 10vh;
	width: 100vw;
	padding-left: 20px;
	padding-top: 20px;
}

.col {
	display: flex;
	background-image: url(/cork%20background.jpg);
	height: 75vh;
	width: 100vw;
	margin-top: 10px;
	line-height: 50px;
	color: #3D474B;
	flex-direction: column;
	flex-wrap: wrap;
}

.flex-box {
	display: flex;
	flex: flow;
	background: #FFFFA5;
	width: 200px;
	height: 200px;
	margin: 1vw;
	padding: 5px;
	align-content: flex-start;
	align-items: center;
	flexwrap: wrap;
	color: #3D474B;
}

.png-buttons {
	max-width: 1.5em;
	width: auto;
	height: auto;
}

.menu {
	align-content: flex-end;
}

.done {
	background: lightgrey;
	color: darkgrey;
}

.description-input {
	font-size: 14px;
	margin-left: 10px;
	color: black;
}

.input-area {
	width: 100vw;
	padding-left: 100px;
	align-content: flex-start;
	align-items: center;
}

.description-input {
	width: 30vw;
}

.btn-lg {
	background: #3D474B;
	color: #FFF9EE;
}

.btn-lg:hover {
	background: #675B70;
	color: #FFF9EE;
}

.btn-lg:active {
	background: #D5C7E3;
	color: #3D474B;
}
