body {
	background: #FFF9EE;
}

.navigation {
	height 10vh;
	width: 100vw;
	padding-left: 20px;
	padding-top: 20px;
}

.col {
	background: #5A5666;
	border: #FFF9EE;
	border-style: solid;
	height: 75vh;
	margin-top: 10px;
	line-height: 50px;
	color: #FFF9EE;
	font-weight: bold;
	text-align: center;
}

.flex-box {
	display: flex;
	flex: flow;
	background: #D5C7E3;
	width: 15vw;
	margin: 1vw;
	align-content: flex-start;
	align-items: center;
	flexwrap: nowrap;
	padding-left: 5px;
	color: #3D474B;
}

.flex-box:hover {
	background: lightgrey;
}

.done {
	background: grey;
	color: darkgrey;
}

.description {
	margin-left: 5px;
}

.description-input {
	font-size: 14px;
	margin-left: 10px;
	color: black;
}

input-area {
	width: 100vw;
	padding-left: 100px;
	align-content: flex-start;
	align-items: center;
}

.description-input {
	width: 30vw;
}

.form-control {
	width: 10vw;
}

.btn-lg {
	background: #3D474B;
	color: #FFF9EE;
}

.btn-lg:hover {
	background: #675B70;
	color: #FFF9EE;
}

.btn-lg:active {
	background: #D5C7E3;
	color: #3D474B;
}

.png-buttons {
	max-width: 1.5em;
	width: auto;
	height: auto;
}
